/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ebebeb;
}


@import "./global-syles/utils.scss";
@import './global-syles/custom-angular-material-theme.scss';
.mat-card-image{
  margin-left: 0px!important;
  margin-top: 0px!important;
  width: 100%!important
  ;
}

